.t-white-black-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px;
    height: 60px;

    color: white;
    background-color: black;
    border-radius: 16px;

    font-family: 'PoppinsSemiBold', sans-serif;
    font-size: clamp(15px, 1.4vw, 18px);
    text-decoration: none;
    cursor: pointer;
}